#contents h1,
#contents h2,
#contents h3,
#contents h4,
#contents h5,
#contents h6 {
	line-height: 1;
	margin: 0;
	margin-top: 1.5rem;
	text-rendering: optimizeLegibility;
}

#contents h1 {
	font-size: 2.75rem;
}

#contents h2 {
	font-size: 2rem;
}

#contents h3 {
	font-size: 1.65rem;
}

#contents h4 {
	font-size: 1.25rem;
}

#contents h5 {
	font-size: 1.1rem;
}

#contents h6 {
	font-size: 1rem;
}

#contents h2 em,
#contents h3 em {
	color: grey;
}

#contents small {
	font-size: 65%;
}

#contents p {
	margin-top: 0.75rem;
}

#contents hr {
	margin: 0.75rem 0;
	opacity: 0.5;
}

#contents ol,
#contents ul {
	margin-top: 0.75rem;
}

#contents ol ul,
#contents ol ol,
#contents ul ul,
#contents ul ol {
	margin-left: 2rem;
	margin-bottom: 0.75rem;
}

#contents li {
	margin: 0.5em 0;
}

#contents abbr {
	font-variant: small-caps;
	font-weight: 600;
	text-transform: lowercase;
	color: #808080;
}

#contents abbr[title]:hover {
	cursor: help;
}

#contents blockquote {
	border-left: 5px solid #333;
	padding-left: 0.75em;
	margin-left: calc(-0.75em - 5px);

	font-style: italic;
}

#contents blockquote + figcaption {
	display: block;
	margin-top: -1.5rem;
	margin-bottom: 1.5rem;
	font-size: 75%;
	text-align: right;
}

#contents blockquote + figcaption:before {
	content: "— ";
	opacity: 0.05;
}

#contents pre {
	overflow: auto;
	margin: 0.75rem 0;
	padding: 0.5rem;
	font-size: 0.875em;
	white-space: pre;
	background-color: #333333;
	border: 1px solid #444444;
	border-radius: 3px;
}

#contents code {
	padding: 0 0.25em;
	white-space: pre;
	font-family: Source Code Pro, monospace;
	background-color: #333333;
	border: 1px solid #444444;
	border-radius: 3px;
}

#contents pre code {
	padding: 0;
	word-wrap: normal;
	white-space: pre-wrap;
}

#contents pre code,
#contents pre tt {
	background-color: transparent;
	border: none;
}

#contents table {
	margin: 0.75rem 0;
	padding: 0;
	border-collapse: collapse;
}

#contents table tr {
	margin: 0;
	padding: 0;
	border-top: 1px solid #ccc;
	background-color: #fff;
}

#contents table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

#contents table tr th {
	margin: 0;
	padding: 0.35em 0.75em;
	font-weight: bold;
	text-align: left;
	border: 1px solid #ccc;
}

#contents table tr td {
	margin: 0;
	padding: 0.35em 0.75em;
	text-align: left;
	border: 1px solid #ccc;
}

#contents table tr th :first-child,
#contents table tr td :first-child {
	margin-top: 0;
}

#contents table tr th :last-child,
#contents table tr td :last-child {
	margin-bottom: 0;
}
